/*CSS Syntax:
   Selector
   {
      property:value;
   }
   */
   *
   {
   	color:magenta;
   }
   .background-color-red
   {
     background-color:yellow;
   }
   #background-color-red
   {
     background-color:green;
   }
   .class-color
   {
   	color:blue;
   }